@import "tailwindcss";

@font-face {
  font-family: "umeboshi";
  src: url("/fonts/umeboshi.ttf") format("truetype");
}

@font-face {
  font-family: 'SpecialSymbols';
  src: local('Segoe UI');
  unicode-range: U+0080-00FF, U+2000-206F, U+2030-205E; /* 라틴 보충 + 특수문자 */
}

@font-face {
  font-family: "sonmat";
  src: url("/fonts/sonmat.ttf") format("truetype");
}

@theme {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-postcard-background: var(--postcard-background);
  --color-gold: var(--gold);
  --color-night: var(--night);
  --color-pink: var(--pink);

  --spacing-postcard-width: var(--postcard-width);
  --spacing-postcard-height: var(--postcard-height);
  --spacing-postcard-width-half: var(--postcard-width-half);
  --spacing-postcard-height-half: var(--postcard-height-half);

  --text-xxs: var(--text-xxs);
  --text-xs: var(--text-xs);
  --text-s: var(--text-s);
  --text-sm: var(--text-sm);
  --text-md: var(--text-md);
  --text-lg: var(--text-lg);
  --text-xl: var(--text-xl);
  --text-xxl: var(--text-xxl);

  --breakpoint-tablet: 640px;
  --breakpoint-desktop: 1023px;

  --font-sonmat: "SpecialSymbols", "sonmat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-umeboshi: "SpecialSymbols", "umeboshi", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: "SpecialSymbols", "umeboshi", "sonmat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --text-xxs: 0.7rem;
  --text-xs: 0.8rem;
  --text-s: 0.9rem;
  --text-sm: 1.2rem;
  --text-md: 1.4rem;
  --text-lg: 2rem;
  --text-xl: 2.2rem;
  --text-xxl: 2.8rem;

  /*--background: #a785da;*/
  --background: #8a70be;
  --secondary: #937abd;
  --stripe-color: rgba(223, 210, 183, 0.1);

  --text: #242424;
  --postcard-background: #fffdfa;
  --gold: rgb(231, 180, 70);
  --gold-rgb: 231, 180, 70;
  --night: #20223b;
  --pink: #e977a3;


  --postcard-width: 60rem;
  --postcard-height: 41.5rem;
  --postcard-width-half: 30rem;
  --postcard-height-half: 20.75rem;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  color: var(--text);
}

html {
  font-size: 10px;
}

canvas {
  width: 100%;
  height: 100%;

  --cell: 81px;
  --stripe: 22px;
  --c: rgba(223, 210, 183, 0.1);

  background:
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='180' height='180'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.55' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='.12'/%3E%3C/svg%3E"),
    repeating-linear-gradient(
      90deg,
      var(--c) 0 var(--stripe),
      transparent var(--stripe) var(--cell)
    ),
    repeating-linear-gradient(
      0deg,
      var(--c) 0 var(--stripe),
      transparent var(--stripe) var(--cell)
    );

  background-color: #8a70be;
}

textarea::-webkit-scrollbar {
  display: none;
}

.glow {
  -webkit-box-shadow: 0px 0px 53px 14px rgba(255, 210, 251, 0.2);
  -moz-box-shadow: 0px 0px 53px 14px rgba(255, 210, 251, 0.2);
  box-shadow: 0px 0px 53px 14px rgba(255, 210, 251, 0.2);
}

#postcard-container > .front {
  background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='180' height='180'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.75' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='.18'/%3E%3C/svg%3E"),
    url("/assets/frame.svg");

  background-repeat:
    repeat,
    no-repeat;

  background-position:
    center,
    center;

  background-size:
    auto,
    contain;
}

#postcard-container > .back {
  background-image:
url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='180' height='180'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.95' numOctaves='4' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='.08'/%3E%3C/svg%3E");}

.place-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::selection {
  background: var(--background);
  color: white;
}

::-webkit-scrollbar {
  width: 1rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 0.2rem;
  background-clip: padding-box;
  border: 3px solid transparent;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal,
.text-shadow,
#modal button:not(:is(#no-text-shadow, #no-text-shadow *)),
#heart-button {
  text-shadow:
    1px 1px 0px var(--night),
    -1px 1px 0px var(--night),
    1px -1px 0px var(--night),
    -1px -1px 0px var(--night);
}

#no-text-shadow,
#no-text-shadow * {
  text-shadow: none !important;
}

h1 {
  font-size: 5.6rem;
  font-weight: 500;
}

h3 {
  font-size: 2.6rem;
  font-weight: 500;
}

.moon {
  border-radius: 100%;
  background-color: var(--night);
  box-shadow:
    30px 30px 0px 40px var(--gold),
    31px 31px 20px 44px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0 9px 7px rgb(0 0 0 / 0.1));
  color: white;
}

/* adjust postcard size for mobile */
@media screen and (max-width: 639px) {
  :root {
    --postcard-width: 40rem;
    --postcard-height: 27.6675rem;
    --postcard-width-half: 20rem;
    --postcard-height-half: 13.83375rem;

    --text-sm: 1rem;
    --text-md: 1.3rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;
    --text-xxl: 2.6rem;
  }

  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}

.black-button {
  @apply flex items-center justify-center rounded outline outline-night text-night hover:bg-background transition-colors duration-100 border border-white bg-white/30;
}

.white-button {
  @apply flex items-center justify-center rounded text-white bg-white/30 border border-white hover:bg-background transition-colors duration-100 outline-night hover:outline aspect-square;
}

/*
Source - https://stackoverflow.com/a/17386187
Posted by Yotam Omer, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-17, License - CC BY-SA 4.0
*/

.heart {
  position: relative;
  width: 44px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 22px;
  height: 36px;
  border-radius: 20px 20px 0 0;
  transition: background-color 0.2s ease;
}

.heart:hover::before,
.heart:hover::after {
  background-color: var(--background);
}

.heart::before {
  left: 20px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.heart.large {
  width: 67px;
  height: 48px;
}

.heart.large::before,
.heart.large::after {
  width: 33px;
  height: 53px;
}

.heart.large::before {
  left: 33px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
